<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p>
                    <font size="4px"> 
                        My name is Jack Sparrow, I am a pirate currently working 
                        in the caribbean area, working in the field of finding your lovelily ship
                        (<a href="https://en.wikipedia.org/wiki/Black_Perl">Black Perl forever</a>).
                        I hold extensive expertise in robbery and fraud and knowledge in state‐ of‐the‐art hustles
                        that have been proven extremely helpful to keep me alive.
                    </font>
                </p>
                <p>
                    <font size="4px">
                        My research has been focuses in getting back to live using the must
                        sophisticated ways know for any man in earth.
                    </font>
                </p>
                <p>
                    <font size="4px">
                        In 2017, I have worked side by side with captain Barbossa. Both unite strengths to fight again this crapy guy.
                        You can find more info here:
                        <a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_Dead_Men_Tell_No_Tales/">Pirates of the Caribbean: Dead Men Tell No Tales</a>).
                    </font>
                </p>
                <p>
                    <font size="4px">
                        My current collaboration network includes the must important pirate around the work. Actually I belong to the selected club of Lord Pirates. I am really cool!
                    </font>
                </p>

             <br/>
        </div>
<!--     <div align="center" class="row">
        <a class="twitter-timeline" data-width="400" data-height="350" href="https://twitter.com/jack-sparrow?ref_src=twsrc%5Etfw">Tweets by jack-sparrow</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> -->
    </div>
</section>






